{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
<div class="row">
<div class="col-sm-12">
<meta charset="utf-8">
		<a class="btn btn-default" href="/admin/carrinhos">Voltar</a>
		<hr>
		<h2 class="page-header">{{ carrinho.codCliente.nomeCliente }}</h2>
		<ul class="list-group">
		<li class="list-group-item">Nome : {{ carrinho.codCliente.nomeCliente }}</li>

		</ul>
		</div>
		</div>
		</div>
{% endblock %}
