<form method="post" action="{{ path('tipo_perfil_delete', {'idTipoPerfil': tipo_perfil.idTipoPerfil}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ tipo_perfil.idTipoPerfil) }}">
    <button class="btn">Delete</button>
</form>
