{% extends 'base.html.twig' %}

{% block title %}New TipoPerfil{% endblock %}

{% block body %}
    <h1>Create new TipoPerfil</h1>

    {{ include('tipo_perfil/_form.html.twig') }}

    <a href="{{ path('tipo_perfil_index') }}">back to list</a>
{% endblock %}
