<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}E-shop | Online Shopping | Home{% endblock %}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content="Smart Bazaar Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
SmartPhone Compatible web template, free WebDesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design"/>
    <script type="application/x-javascript"> addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        } </script>
    <!-- Custom Theme files -->
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet" type="text/css" media="all"/>
    <link href="{{ asset('css/404.css') }}" rel="stylesheet" type="text/css" media="all"/>
</head>
<body>

<div class="text-wrapper">
    <div class="title" data-content="404">
        403
    </div>

    <div class="subtitle">
        Essa página não permite acesso ao seu usuário
    </div>

    <div class="buttons">
        <a class="button" href="/">Volte a página inicial</a>
    </div>
</div>
</body>