{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
<div class="account">
<div class="row">
<div class="col-md-8">
<meta charset="utf-8">
<a class="btn btn-default" href="/admin/subcategorias">Voltar</a>
<hr>
<h2 class="page-header">Editar Subcategoria</h2>
		{{ form_start(form) }}
		{{ form_widget(form) }}
		{{ form_end(form) }}
</div>
</div>
</div>
</div>
{% endblock %}
